<html>
    <head>
        <style>
            /* .bgd {
                text-align: center;
                justify-content: center;
            } */
            .color{
                background-color: rgb(221, 179, 186);
            }
        </style>
        <body class="color">
            <div class="bgd">
                <h1>Header</h1>
            </div>
        </body>
    </head>
</html>